In [ ]:
#Ques1-  What are data structures, and why are they importanT?
#Ans- Data structures help us arrange and keep data on a computer. They matter because they make it easier to find, work with, and handle information.

In [ ]:
#Ques2- Explain the difference between mutable and immutable data types with examples
#Ans- Data types are either changeable or unchangeable. Changeable ones, like lists, allow you to add or remove items. On the other hand, unchangeable types, such as strings, do not let you alter their individual characters.

In [ ]:
#Ques3- What are the main differences between lists and tuples in Python?
#Ans- Lists can change and hold elements in a specific order, whereas tuples have a fixed order and cannot be altered.

In [2]:
#Ques4- Describe how dictionaries store data.
#Ans- Dictionaries store data as key-value pairs, where each unique key maps to a specific value.
#Example:-
Dict = {"Name":["Prashant", "gandhi","nehru"],"Age":(23,12,30),"Gender":("Male","Female")}
Dict

{'Name': ['Prashant', 'gandhi', 'nehru'],
 'Age': (23, 12, 30),
 'Gender': ('Male', 'Female')}

In [ ]:
#Ques5- Why might you use a set instead of a list in Python?
#Ans- We use sets when we want to keep unique items and the order of those items doesn't matter.

In [ ]:
#Ques6- What is a string in Python, and how is it different from a list?
#Ans- Strings are sequences of characters that cannot be changed, whereas lists are sequences that can be changed and can contain any type of data.

In [ ]:
#Ques7- How do tuples ensure data integrity in Python?
#Ans- Tuples cannot be changed once they are created, which helps keep the data safe and reliable.

In [ ]:
#Ques8- What is a hash table, and how does it relate to dictionaries in Python?
#Ans- A hash table is a way to organize data that uses a hash function to connect keys with specific positions, making it quick to find information. In Python, dictionaries are built on this hash table idea.

In [ ]:
#Ques9- Can lists contain different data types in Python?
#Ans- Yes, lists can contain elements of different data types.

In [ ]:
#Ques10- Explain why strings are immutable in Python?
#Ans- Strings cannot be changed to keep things running smoothly and to protect the data.

In [ ]:
#Ques11- What advantages do dictionaries offer over lists for certain task?
#Ans- Dictionaries allow for quick searches by using keys, which makes them great for tasks that need key-value pairs.

In [ ]:
#Ques12- Describe a scenario where using a tuple would be preferable over a list.
#Ans- If we want to keep our data safe from changes, it's better to use a tuple to avoid any unintentional edits.

In [ ]:
#Ques13- How do sets handle duplicate values in Python?
#Ans- Sets automatically remove any repeated values, making sure they have only unique items.

In [ ]:
#Ques14-  How does the “in” keyword work differently for lists and dictionaries?
#Ans- When working with lists, we can use the "in" keyword to see if an element is part of the list. Similarly, for dictionaries, the "in" keyword helps us to check if a key is present in the dictionary.

In [ ]:
#Ques15- Can you modify the elements of a tuple? Explain why or why not.
#Ans- We can't change the elements of a tuple. Tuples are fixed data structures, which means that once we create them, we can't alter what’s inside it. This unchangeable nature is important for keeping data safe and reliable. If we want a data structure that allows us to modify its elements, then we have to consider using a list instead of a tuple.

In [4]:
#Ques16- What is a nested dictionary, and give an example of its use case?
#Ans- A nested dictionary is simply a dictionary that has other dictionaries inside it as values. This setup helps us to arrange data in levels, making it easier to manage.
students = {"student1": {"name": "John Doe","age": 18,"grades": {"math": 90,"science": 85}},"student2": {"name": "Jane Smith","age": 17,"grades": {"math": 80,"science": 90}}}
print(students["student1"]["grades"]["math"])

90

In [ ]:
#Ques17- Describe the time complexity of accessing elements in a dictionary.
#Ans- Not understand the question.

In [ ]:
#Ques18- In what situations are lists preferred over dictionaries?
#Ans- Keeping things in order: If the order of our items really matters, using lists is better since they keep things in the same order we added them. Dictionaries, however, don’t maintain any order.
#Going through items and finding them: If we want to go through items one by one or look them up by their position, lists make this much easier. While we can go through a dictionary too, the order of items isn't guaranteed.

In [ ]:
#Ques19- Why are dictionaries considered unordered, and how does that affect data retrieval?
#Ans- In Python, dictionaries are called unordered because there’s no guarantee about the order of the elements. Unlike lists, where items follow a specific sequence, dictionaries arrange their elements around their keys. Because of this unordered nature, we can’t get to the elements by their index as we would with lists. Instead, we need to use the right key to find the value we’re looking for.

In [ ]:
#Ques20- Explain the difference between a list and a dictionary in terms of data retrieval.
#Ans- Lists are collections of items arranged in a specific order, and we can access these items by their position. To get an item from a list, we need to know where it is located. This design makes lists great for accessing data in sequence.
#Dictionaries, on the other hand, keep data in pairs of keys and values. we fetch the information by using the key, not by its position. This setup is handy when we need to find a specific piece of information, as long as we have the right key.

# **# Practicle** **Questions**

In [6]:
#Ques1- Write a code to create a string with your name and print it.
#Ans-
Name = "prashant"
Name

'prashant'

In [7]:
type(Name)

str

In [9]:
#Ques2- Write a code to find the length of the string "Hello World".
#Ans
a = "Hello World"
len(a)

11

In [10]:
#Ques3- Write a code to slice the first 3 characters from the string "Python Programming"+
#Ans-
string = "Python Programming"
sliced_string = string[0:3]
print(sliced_string)

Pyt

In [16]:
#Ques4- Write a code to convert the string "hello" to uppercase
#Ans-
G = "hello"
G.upper()

'HELLO'

In [18]:
#Ques5- Write a code to replace the word "apple" with "orange" in the string "I like apple
#Ans-
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [20]:
#Ques6- Write a code to create a list with numbers 1 to 5 and print it
#Ans-
num = list(range(1,6))
num

[1, 2, 3, 4, 5]

In [24]:
#Ques7- Write a code to append the number 10 to the list [1, 2, 3, 4].
#Ans-
num = list(range(1,5))
num.append(10)
num

[1, 2, 3, 4, 10]

In [25]:
#Ques8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
#Ans-
num1 = [1,2,3,4,5]
num1.remove(3)
num1

[1, 2, 4, 5]

In [27]:
#Ques9- Write a code to access the second element in the list ['a', 'b', 'c', 'd']
#Ans-
H = ["a","b","c","d","e"]
H[1]

'b'

In [30]:
#Ques10-  Write a code to reverse the list [10, 20, 30, 40, 50].
#Ans-
my_list = [10, 20, 30, 40, 50]
my_list[::-1]

[50, 40, 30, 20, 10]

In [31]:
#Ques11- Write a code to create a tuple with the elements 10, 20, 30 and print it.
#Ans-
tuple = (10,20,30)
tuple

(10, 20, 30)

In [33]:
#Ques12- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
#Ans-
my_tuple = ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

In [34]:
from ctypes import pointer
#Ques13- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
#Ans-
point =(1, 2, 3, 2, 4, 2)
point.count(2)

3

In [35]:
 #Ques14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
 #Ans-
 My_tuple = ('dog', 'cat', 'rabbit')
 My_tuple.index("cat")

1

In [39]:
#Ques15- Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
#Ans-
TUPLE = ('apple', 'orange', 'banana')
"banana" in TUPLE

True

In [40]:
#Ques16- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
#Ans-
set = {1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [44]:
#Ques17- Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set ={1, 2, 3, 4}
my_set.add(6)
my_set

{1, 2, 3, 4, 6}

In [45]:
#Ques18- Write a code to create a tuple with the elements 10, 20, 30 and print it
#Ans
tuple8 = (10, 20, 30)
print(tuple8)

(10, 20, 30)

In [46]:
#Ques19- Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
#Ans-
my_tuple = ('apple', 'banana', 'cherry')
my_tuple[0]

'apple'

In [47]:
#Ques20- Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
#Ans-
my_tuple = (1, 2, 3, 2, 4, 2)
my_tuple.count(2)

3

In [48]:
#Ques21- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#Ans-
My_tuple = ('dog', 'cat', 'rabbit')
My_tuple.index("cat")

1

In [49]:
#Ques22- Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
#Ans-
TUPLE = ('apple', 'orange', 'banana')
"banana" in TUPLE

True

In [50]:
#Ques23- Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
#Ans-
set = {1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [51]:
#Ques24- Write a code to add the element 6 to the set {1, 2, 3, 4}.
#Ans-
tUPLE9 = {1,2,3,4}
tUPLE9.add(6)
tUPLE9

{1, 2, 3, 4, 6}